{{define "demo02/h2.html"}}
<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>xyhc02</title>
  <link rel="stylesheet" href="/s/css/testcss.css">
  <link rel="icon" href="/s/images/swpu.ico">
</head>
<body>
<header>
  <h1>这是结构体的渲染</h1>
</header>

<main>
  <h2>我永远喜欢电子科技大学</h2>

  <span>this is a red text</span>
  <br>

  <br>
  {{.Name}} <br>
  {{.Age}} <br>
  <br>
  <img src="/s/images/go02.png" alt="go02" width="600" height="400">
</main>

<footer>
  <p>&copy; 请不要在意界面的美观，谢谢。</p>
</footer>
</body>
</html>
{{end}}