{{define "demo06/h6.html"}}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xyhc06</title>
    <link rel="stylesheet" href="/s/css/testcss.css">
    <link rel="icon" href="/s/images/swpu.ico">
</head>
<body>
<header>
    <h1>这是map结构体的渲染</h1>
</header>

<main>
    <h2>我永远喜欢成都理工大学</h2>

    <span>this is a red text</span>
    <br>
    这是多个结构体的渲染
    <br>
    {{.No1.Name}}
    {{.No1.Level}}
    <br>
    {{.No2.Name}}
    {{.No2.Level}}
    <br>
    <br>
    <img src="/s/images/go06.png" alt="go06" width="600" height="400">
</main>

<footer>
    <p>&copy; 请不要在意界面的美观，谢谢。</p>
</footer>
</body>
</html>
{{end}}